.general2 {
    display: flex;
    justify-content: space-around;
}
.twoConteiner {
    display: flex;
    justify-content: space-around;
}
.Items {
    display: flex;
    flex-flow: wrap;
}
.Item {
    margin: 20px;
}
.categories {
    min-width: 200px;
    width: 20%;
}
.Pagination {
    display: flex;
    justify-content: center;
}
.PageButton {
    width: 30px;
    height: 25px;
}
.img {

}